body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 300px;
  margin: 0 auto;
}

div {
  width: 100%;
}

input {
  width: calc(100% - 58px);
}

div button {
  margin-left: 10px;
}

button {
  width: 40px;
  height: 22px;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px dashed #333;
  word-break: break-all;
}

p {
  margin: 0;
  width: calc(100% - 58px);
}
